*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#10cab7
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
background-color: white;
padding: 20px 40px;

}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
    direction: ltr;
}
.header .links:hover .icon span:nth-child(2){
    display: none;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap ;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
}
.header .links:hover .icon span:nth-child(1){
transform: rotateZ(60deg);
transition: 0.3s;
}
.header .links:hover .icon span:nth-child(3){
    transition: 0.3s;
transform: rotateZ(-60deg);
}
.header .links ul{
    list-style-type:none;
    position: absolute;
    width: 100px;
    right: 0;
    background-color: #eee;
    top: calc(100% + 15px);
    min-width: 200px;
    padding: 0;
    margin: 0;
    display: none;
    transition:0.3s;
    border-radius: 10px;
    border:4px solid var(--main-color);
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
content: ""; 
position: absolute;
border-width: 14px;
border-style: solid;
border-color: transparent transparent var(--main-color) transparent;
right:1px;
top: -30px;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#222;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 2px solid #ddd;
}
.landing-text{
width:100% ;
height:calc(100vh - 64px);
flex-direction: column;
background: url("/images/nokia-g21-3840x2160-android-13-4k-24319.jpg");
background-size: cover;
background-position: center;
} 
 .landing-text h1{
    color:var(--main-color);
    font-size: 50px;
    font-weight: 900;
    margin: 6px 0px;
}
.landing-text .intro-text{
    margin: 0;
    text-align: center;
    width: 300px;
    max-width: 100%;
    line-height: 30px;
    color: lack;
}
.features{
    padding: 60px 0px;
    background-color: #f6f6f6;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr)) ;
    gap: 25px;
    padding: 0px 90px;
    margin: 0px 10px;
}
.features  .feat{
text-align: center;
}
.features  .container .feat i{
color: var(--main-color);
font-size: 50px;
}
.features  .container .feat h3{
font-weight:bolder;
margin: 30px 0;

}
.features .feat p{
    line-height: 1.8;
    color:#777;
    font-size: 17px;
}
.title{
    text-align: center;
}
.title h2{
    color: #ebeced;
    font-size: 100px;
    letter-spacing: -5px;
}
.title h2 + p{
    margin: -30px 0px 0px 0px;
}
.services{
    padding: 60px 0px;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 2fr)) ;
    gap: 25px;
    margin-top: 100px;
    padding: 0px 100px;
    margin-bottom: 50px;
}
.services .container .col .srv{
    display: flex;
  margin-bottom: 40px;
}
@media screen and (max-width:820px) {
    .services .container .col .srv{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Portfolio .container , .services .container{
        padding: 0px 20px;
    }
}
.services .container .col .srv i{
color: var(--main-color);
flex-basis: 60px;
}
.services .container .col .srv .text  {
    flex:1
}
.services .container .col .srv .text  h3{
    margin: 0 0px 30px;
}
.services .container .col .srv .text  p{
    color:#444;
    font-weight: 300;
}
.services .container .col  .img{
position: relative;
text-align: center;
}
.services .container .col  .img img{
width: 240px;   
height: 350px;
}
.services .container .col  .img::after{
    content: "";
    position: absolute;
    width: 80px;
    height:calc( 100% + 100px);
    background-color:#2c4755 ;
    z-index: -1;
    right: 50px;
    top:-50px
}
@media screen and (max-width:1199px) {
    .services .container .col .img-photo{
     display: none;
    }
    .about .container{
        text-align: center;
    }
    .about .container .img::before ,.about .container .img::after{
        display: none;
    }
}
.Portfolio{
    padding: 60px 0px;
    background-color: #f6f6f6;
}
.Portfolio .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr)) ;
    gap: 30px;
    height: 450px;
    margin-top: 100px;
    padding: 0px 100px;
}
.Portfolio .container .feat{
    background-color: white;
}
.Portfolio .container .feat .info{
    padding: 20px;
}
.Portfolio .container img{
width: 100%;
height: 50%;
}
.Portfolio .container h3{
margin:0;
}
.Portfolio .container p{
    line-height: 1.6;
    color:#444;
    font-weight: 300;
}
.about .container{
    margin-top: 100px;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
gap: 40px;
padding: 0px 80px;
}
.about .container .img img{
    width: 250px;
    height: 375px;
}
.about .container .img{
    position: relative;
}
.about .container .img::before{
content: "";
position: absolute;
width: 80px;
height: calc(100% + 80px);
background-color: #ebeced;
top: -40px;
z-index: -1;
}
.about .container .img::after{
    content: "";
    position: absolute;
    border-bottom: 80px solid var(--main-color) ;
    border-left: 80px solid  var(--main-color);
    width: 150px;
    height: 80%;
    top:-45px;
    left: 200px;
    z-index: -1;
}
.about .container hr{
    background-color:var(--main-color);
    height:1px;
    margin: 30px 0px;
    width: 290px;
}
.about .container .text p{
    line-height: 25px;
}
.about .container .text p:nth-child(1){
    font-weight: 900;
}
.about .container .text p:nth-child(2){
    color:#2c4755
}
@media screen and (max-width: 768px) {
    .about {
      width: 100%;
      margin: 0 auto;
    }
  }
  